@charset "utf-8";

/*コンテンツ幅*/

.contents {
  width: 1100px;
  margin: 0 auto;
}

/*header*/

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__inner__thunder__color {
  color: #4e4e4e;
  font-size: 2em;
}

.header__inner__contactBtn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  border: none;
}

.header__inner__hamburger {
  width: 35px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  display: none;
}

.header__inner__hamburger__item, .header__inner__hamburger__item:before, .header__inner__hamburger__item:after{
  display: inline-block;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #ddd;
}

.header__inner__hamburger__item:before {
  vertical-align: bottom;
}

/*main*/
/*title*/
main {
  padding-top: 70px;
}

.main__title {
  background-color: #f2f2f2;
}

.main__title__inner {
  padding: 250px 0;
  text-align: center;
}

.main__title__inner__theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.main__title__inner__themeSub {
  color: #c0c0c0;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}
/*phone*/

.main__phone {
  background-color: #74cfae;;
}

.main__phone__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.main__phone__inner__item {
  width: 60%;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.main__phone__inner__item__head {
  font-size: 24px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.main__phone__inner__item__foot {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 35px;
}

/*gallery*/

.main__gallery {
  background-color: #f2f2f2;
}

.main__gallery__inner {
  padding: 60px 0 70px;
}

.main__gallery__inner__title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #333;
  text-align: center;
}

.main__gallery__inner__img {
  margin-top: 40px;
  font-size: 0;
}

.main__gallery__inner__img a  {
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin: 80px 0 0 100px;
  width: 300px;
}

.main__gallery__inner__img a:nth-child(-n+3) {
  margin-top: 0;
}

.main__gallery__inner__img a:hover {
  opacity: 1.0;
}

.main__gallery__inner__img a:nth-child(3n+1) {
  margin-left: 0;
}


.main__gallery__inner__foot {
  text-align: center;
  margin-top: 90px;
}

.main__gallery__inner__foot__item {
  display: inline-block;
  color: #333;
  font-size: 16px;
  width: 43%;
  font-family: 'Lato', sans-serif;
}

.main__gallery__inner__foot__btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 90px;
  transition: color 0.3s;
}

.main__gallery__inner__foot__btn:hover {
  color: #333;
}

/*reload*/

.main__reload {
  background-color: #333;
  padding: 70px 0 100px;
}

.main__reload__inner__title {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.main__reload__inner__img {
  text-align: center;
}

.main__reload__inner__img__item {
  display: inline-block;
  margin-left: 180px;
}

.main__reload__inner__img__item:first-child {
  margin-left: 0;
}

.main__reload__inner__img__item__title {
  color: #fff;
  margin-top: 10px;
}

/*sns*/

.main__sns {
  background-color: #f2f2f2;
}

.main__sns ul {
  font-size: 0;
  padding: 200px 0 200px;
  text-align: center;
}
.main__sns ul li {
  display: inline-block;
}

.main__sns__icon {
  width: 185px;
  padding: 40px 0;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
}

.main__sns__icon:hover {
  background-color: #fff;
}

.main__sns__icon__item {
  color: #74cfae;
  font-size: 2em;
}

/*footer*/

.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding: 20px 0 25px;
}

.footer__inner__text {
  text-align: right;
  color: #fff;
  font-family: 'Lato', sans-serif;
}





@media screen and (min-width:768px) and (max-width:1199px) {

  /*コンテンツ幅*/

  .contents {
    width: 97%;
  }

  /*phone*/

  .main__phone__inner {
    display: block;
    text-align: center;
    padding: 50px 0 25px;
  }

  .main__phone__inner__item {
    margin: 20px auto 0;
  }

  /*gallery*/

  .main__gallery__inner__img a {
    display: block;
    margin: 0 auto;
  }
  
  .main__gallery__inner__img a:nth-child(3n+1) {
    margin: 80px auto 0;
  }

  .main__gallery__inner__img a:first-child {
    margin-top: 0;
  }

  .main__gallery__inner__foot {
    margin-top: 80px;
  }

  .main__gallery__inner__foot__item {
    width: 100%;
  }

  .main__gallery__inner__foot__btn {
    margin: 40px 0 0;
  }

  /*reload*/

  .main__reload__inner__img__item {
    margin-left: 0;
    display: block;
  }

  .main__reload__inner__img__item:nth-child(n+2) {
    margin-top: 88px;
  }
}





@media screen and (max-width:767px) {

  /*コンテンツ幅*/

  .contents {
    width: 97%;
  }

  /*header*/

  .header__inner__contactBtn {
    display: none;
    position: absolute;
    width: 100%;
  }

  .header__inner__hamburger, .header__inner__contactBtnJs, .header__inner__closeJs{
    display: block;
  }

  .header__inner__contactBtnJs {
    animation: anime 0.3s linear;
    bottom: -50%;
    left: 0;
  }

  @keyframes anime {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  .header__inner__closeJs {
    animation: close 0.3s linear;
    bottom: -50%;
    left: -110%;
  }

  @keyframes close {
    0% {
      left: 0;
    } 
    100% {
      left: -110%;
    } 
  }

  /*main*/
  /*title*/

  .main__title__inner {
    padding: 160px 0 130px;
  }

  .main__title__inner__theme {
    font-size: 80px;
  }

  /*phone*/

  .main__phone__inner {
    display: block;
    text-align: center;
    padding: 50px 0 25px;
  }

  .main__phone__inner__item {
    width: 100%;
    margin: 20px auto 0;
  }

  /*gallery*/

  .main__gallery__inner__img a {
    display: block;
    margin: 0 auto;
  }

  .main__gallery__inner__foot {
    margin-top: 80px;
  }

  .main__gallery__inner__img a:nth-child(3n+1) {
    margin: 80px auto 0 ;
  }

  .main__gallery__inner__img a:first-child {
    margin-top: 0;
  }

  .main__gallery__inner__foot__item {
    width: 100%;
  }

  .main__gallery__inner__foot__btn {
    margin: 40px 0 0;
  }

  /*reload*/

  .main__reload__inner__img__item {
    margin-left: 0;
    display: block;
  }

  .main__reload__inner__img__item:nth-child(n+2) {
    margin-top: 88px;
  }

  /*sns*/

  .main__sns ul {
    padding: 50px 0;
  }

  .main__sns ul li, .main__sns__icon {
    width: 100%;
  }

  .main__sns ul li {
    text-align: center;
  }

}