@charset "utf-8";

/*header*/

.header {
  background-color: #fff; 
}

.header__inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner__thunder {
  padding: 15px 0;
}

.header__inner__thunder__color {
  color: #4e4e4e;
  font-size: 2em;
}

.header__inner__contactBtn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  border: none;
}

.header__inner__hamburger {
  display: none;
}

.header__inner__label {
  width: 50px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  display: none;
}

.header__inner__label__item, .header__inner__label__item:before, .header__inner__label__item:after{
  display: inline-block;
  width: 30px;
  height: 3px;
  content: "";
  background-color: #ddd;
}

.header__inner__label__item:before {
  vertical-align: bottom;
}

/*main*/
/*bolt*/

.main__title {
  background-color: #f2f2f2;
}

.main__title__inner {
  width: 1100px;
  margin: 0 auto;
  padding: 250px 0;
  text-align: center;
}

.main__title__inner__Theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.main__title__inner__ThemeSub {
  color: #c0c0c0;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
/*phone*/

.main__phone {
  background-color: #74cfae;;
}

.main__phone__inner {
  width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.main__phone__inner__item {
  width: 60%;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.main__phone__inner__item__head {
  font-size: 24px;
  margin-bottom: 35px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.main__phone__inner__item__foot {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

/*gallery*/

.main__gallery {
  background-color: #f2f2f2;
}

.main__gallery__inner {
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0 70px;
}

.main__gallery__inner__title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.main__gallery__inner__img {
  margin-bottom: 90px;
  font-size: 0;
}

.main__gallery__inner__img a img {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.main__gallery__inner__img a:hover img {
  opacity: 1.0;
}

.main__gallery__inner__img a img {
  margin-left: 100px;
}

.main__gallery__inner__img a:first-child img,.main__gallery__inner__img a:nth-child(4) img {
  margin-left: 0;
}

.main__gallery__inner__img a:nth-child(-n+3) img {
  margin-bottom: 80px;
}

.main__gallery__inner__foot {
  text-align: center;
}

.main__gallery__inner__foot__item {
  display: inline-block;
  color: #333;
  font-size: 16px;
  width: 43%;
  font-family: 'Lato', sans-serif;
}

.main__gallery__inner__foot__btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 90px;
  transition: color 0.3s;
}

.main__gallery__inner__foot__btn:hover {
  color: #333;
}

/*reload*/

.main__reload {
  background-color: #333;
  padding: 70px 0 100px;
}

.main__reload__inner {
  width: 1100px;
  margin: 0 auto;
}

.main__reload__inner__title {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.main__reload__inner__img {
  text-align: center;
}

.main__reload__inner__img__item {
  display: inline-block;
  margin-left: 180px;
}

.main__reload__inner__img__item:first-child {
  margin-left: 0;
}

.main__reload__inner__img__item__title {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

/*sns*/

.main__sns {
  background-color: #f2f2f2;
}

.main__sns ul {
  width: 1100px;
  margin: 0 auto;
  font-size: 0;
  padding: 200px 0 200px;
  text-align: center;
}
.main__sns ul li {
  display: inline-block;
}

.main__sns__icon {
  width: 185px;
  padding: 40px 0;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
}

.main__sns__icon:hover {
  background-color: #fff;
}

.main__sns__icon__item {
  color: #74cfae;
  font-size: 2em;
}

/*footer*/

.footer {
  background-color: #74cfae;
}

.footer__inner {
  width: 1100px;
  padding: 20px 0 25px;
  margin: 0 auto;
}

.footer__inner__text {
  text-align: right;
  color: #fff;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}





@media screen and (min-width:768px) and (max-width:1199px) {

  /*header*/

  .header__inner {
    width: 97%;
  }

  /*main*/
  /*bolt*/

  .main__title__inner {
    width: 97%;
  }

  /*phone*/

  .main__phone__inner {
    display: block;
    width: 97%;
    text-align: center;
    padding: 50px 0 25px;
  }

  .main__phone__inner__item {
    margin: 20px auto 0;
  }

  /*gallery*/

  .main__gallery__inner {
    width: 97%;
  }

  .main__gallery__inner__img {
    margin-bottom: 80px;
  }

  .main__gallery__inner__img a img {
    display: block;
    margin: 0 auto;
  }

  .main__gallery__inner__img a:first-child img, .main__gallery__inner__img a:nth-child(-n+4) img {
    margin: 0 auto;
  }

  .main__gallery__inner__foot__item {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .main__gallery__inner__foot__btn {
    margin-left: 0;
  }

  /*reload*/

  .main__reload__inner {
    width: 97%;
  }

  .main__reload__inner__img__item {
    margin-left: 0;
    display: block;
  }

  .main__reload__inner__img__item:nth-child(-n+3) {
    margin-bottom: 88px;
  }

  /*sns*/

  .main__sns ul {
    width: 97%;
  }

  /*footer*/

  .footer__inner {
    width: 97%;
  }
}





@media screen and (max-width:767px) {

  /*header*/

  .header__inner {
    width: 97%;
  }

  .header__inner__contactBtn {
    display: none;
  }

  .header__inner__label {
    display: block;
  }

  /*main*/
  /*bolt*/

  .main__title__inner {
    width: 97%;
  }

  /*phone*/

  .main__phone__inner {
    display: block;
    width: 97%;
    text-align: center;
    padding: 50px 0 25px;
  }

  .main__phone__inner__item {
    margin: 20px auto 0;
  }

  /*gallery*/

  .main__gallery__inner {
    width: 97%;
  }

  .main__gallery__inner__img {
    margin-bottom: 80px;
  }

  .main__gallery__inner__img a img {
    display: block;
    margin: 0 auto;
  }

  .main__gallery__inner__img a:first-child img, .main__gallery__inner__img a:nth-child(-n+4) img {
    margin: 0 auto;
  }

  .main__gallery__inner__foot__item {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .main__gallery__inner__foot__btn {
    margin-left: 0;
  }

  /*reload*/

  .main__reload__inner {
    width: 97%;
  }

  .main__reload__inner__img__item {
    margin-left: 0;
    display: block;
  }

  .main__reload__inner__img__item:nth-child(-n+3) {
    margin-bottom: 88px;
  }

  /*sns*/

  .main__sns ul {
    width: 97%;
  }

  /*footer*/

  .footer__inner {
    width: 97%;
  }
  }
}